:root {
    --outer-space: #33393f;
    --gin: #e0eae4;
    --artichoke-green: #4b6f44;
    --asparagus: #87A96B;
    --dark-green: #062925;
    --pine: #044a42; 
    --green: #3a9188; 
    --background: #b8e1dd; 
}

body {
    font-family: Comic Sans MS, Comic Sans, cursive; 
  font-size: 1.75rem;
  line-height: 1.5;
  background-color: var(--gin);
}

html {
    font-size: 62.5%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.625rem;
    font-weight: 700;
    line-height: 1.1;
  }


header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
    background-color: var(--artichoke-green);
  }

  header h1 a{
    color: var(--dark-green);
  }
  header h1 :hover {
   color: var(--asparagus);
  }