:root {
    --outer-space: #33393f;
    --gin: #e0eae4;
    --artichoke-green: #4b6f44;
    --asparagus: #87A96B;
    --dark-green: #062925;
    --pine: #044a42; 
    --green: #3a9188; 
    --background: #b8e1dd; 
}